body{
  font-family: 'Roboto Slab', serif;
  text-transform: capitalize;
  background-image: url('../img/top-banner.png');
  background-repeat: no-repeat;
}
.tomato-color{
  color: tomato;
}
.button{
  text-decoration: none;
  background-image:linear-gradient( salmon,orange);
  padding: 10px 10px;
  font-weight: 700;
  border-radius: 5px;
}
.image{
  width: 40%;
}
.image-2{
  width: 50%;
}
.half-width{
  width: 50%;
 
}

.flex{
  display: flex;
}
.need-padding{
  padding-left: 50px;
  background-image: url('../img/dream-bg.png');
  background-repeat: no-repeat;
  background-position:right ;
}

.button-two{
  text-decoration: none;
  background-image:linear-gradient( salmon,orange);
  padding: 10px 10px;
  font-weight: 700;
  border-radius: 5px; 
  margin-left: 50px;
}

.shadow-section{
  box-shadow: 10px 10px 40px   gray  ;
  
  border-radius: 20px;
  border-image: linear-gradient(blue, cyan) 30; 
  margin: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
}



.box{
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 10px 10px 40px gray;
  padding: 20px;
  border-radius: 10px; 
  background-image: url('../img/exp-bg.png');
  background-repeat: no-repeat;
  background-position: left;
  
}

footer{
  text-align: center;
}

